{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4 pt-2">
        <h1 class="text-center mb-4">Delete Brand: {{ brand.name }}</h1>

        <!-- Form Section -->
        <div class="card p-4 mb-4">
            <h2 class="mb-3">Brand Information</h2>
            <form id="inputForm" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">{{ form.name.label_tag }}</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">{{ form.year_established.label_tag }}</label>
                    {{ form.year_established }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">{{ form.description.label_tag }}</label>
                    {{ form.description }}
                </div>
                <button type="submit" class="btn btn-primary">Delete Brand</button>
            </form>
            <br>
            <a href="{% url 'brands_list' %}" style="text-decoration:none; color:black">Back to Brands List</a>
        </div>
    </div>
{% endblock %}
