{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4 pt-2">
        <h1 class="text-center mb-4">Category Lists</h1>
        <!-- Table Section -->
        <div class="card p-4">
            <div>
                {% if user.is_superuser %}
                    <a href="{% url 'add_category' %}" style="text-decoration:none; color:white; border:2px solid grey; border-radius:15px; padding-left:10px; padding-right:10px; background-color: grey">Add Category</a>
                {% endif %}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="dataTable">
                    <!-- Data will appear here -->
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{% url 'edit_category' category.id %}" style="color:black; margin-right:10px;"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% if user.is_superuser %}
                                <a href="{% url 'delete_category' category.id %}" style="color:red"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
