{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4 pt-2">
        <h1 class="text-center mb-4">Add Location</h1>
        <div class="card p-4 mb-4">
            <h2 class="mb-3">Location Information</h2>
            <form id="inputForm" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">{{ form.location.label_tag }}</label>
                    {{ form.location }}
                </div>
                <button type="submit" class="btn btn-primary">Add Location</button>
            </form>
            <br>
            <a href="{% url 'locations_list' %}" style="text-decoration:none; color:black">Back to Locations List</a>
        </div>
    </div>
{% endblock %}
