{% extends 'base.html' %}
{% block content %}

    <!-- Product Detail Section -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          <!-- Product Image -->
          <div class="col-md-6">
            {% if car.car_image %}
                <img src="{{ car.car_image.url }}" class="img-fluid rounded" style="width: 500px; height: 500px;" alt="{{ car.cars_name }}">
            {% else %}
                <p>No image available.</p>
            {% endif %}
          </div>
          <!-- Product Details -->
          <div class="col-md-6">
            <h1 class="mb-3">{{ car.cars_name }}</h1>
            <p class="text-muted">Category: <span class="text-primary">{{ car.category }}</span></p>
            <p class="lead mb-4">{{ car.description }}</p>
            <a href="{% url 'edit_car' car.id_cars %}" class="btn btn-secondary">Edit Car</a>
            <a href="{% url 'delete_car' car.id_cars %}" class="btn btn-danger">Delete Car</a>
          </div>
        </div>
        <hr class="my-5">
        <!-- Product Specifications -->
        <div class="row">
          <div class="col-md-6">
            <h3>More Information</h3>
            <ul class="specs-list">
              <li><strong>Brand:</strong> {{ car.brand }}</li>
              <li><strong>Color:</strong> {{ car.warna }}</li>
              <li><strong>Years:</strong> {{ car.tahun }}</li>
              <li><strong>CC:</strong> {{ car.CC }}</li>
              <li><strong>Location:</strong> {{ car.location }}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
