{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4 pt-2">
        <h1 class="text-center mb-4">Cars Lists</h1>
        <!-- Table Section -->
        <div class="card p-4">
            {% if user.is_superuser %}
                <div>
                    <a href="{% url 'add_car' %}" style="text-decoration:none; color:white; border:2px solid grey; border-radius:15px; padding-left:10px; padding-right:10px; background-color: grey">Add Car</a>
                </div>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="dataTable">
                    <!-- Data will appear here -->
                    {% for car in cars %}
                    <tr>
                        <td>{{ car.cars_name }}</td>
                        <td>{{ car.brand }}</td>
                        <td>{{ car.location }}</td>
                        <td>
                            <a href="{% url 'car_detail' car.id_cars %}" style="text-decoration:none; color:black; margin-right:10px;"><i class="fa-solid fa-eye"></i></a>
                            {% if user.is_staff or user.is_superuser %}
                                <a href="{% url 'edit_car' car.id_cars %}" style="text-decoration:none; color:black; margin-right:10px;">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                {% if user.is_superuser %}
                                <a href="{% url 'delete_car' car.id_cars %}" style="text-decoration:none; color:red; margin-right:10px;">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'test_drive' car.id_cars %}" style="text-decoration:none; color:black">
                                <i class="fa-solid fa-car"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
