{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!-- Hero Section -->
  <div class="bg-light text-center py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="display-4 mb-3">Welcome to <br>Car Dealer</h1>
          <p class="lead">Your one-stop solution for perfect vehicle that suits your lifestyle.</p>
          <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Learn More</a>
        </div>
        <div class="col-md-6">
          <img src="{% static 'images/car.jpeg' %}" alt="Hero Image" class="hero-image img-fluid rounded-pill">
        </div>
      </div>
    </div>
  </div>

  <!-- Services Section -->
  <section id="services" class="bg-light py-5">
    <div class="container">
      <h2 class="text-center">Our Services</h2>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'images/VehicleSales.jpeg' %}" class="card-img-top thumbnail" alt="Web Development">
            <div class="card-body">
              <h5 class="card-title">Vehicle Sales</h5>
              <p class="card-text">Helping you buy new or used cars that fit your needs and budget.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'images/Maintenance & Repairs.jpeg' %}" class="card-img-top thumbnail" alt="UI/UX Design">
            <div class="card-body">
              <h5 class="card-title">Vehicle Maintenance & Repairs</h5>
              <p class="card-text">Taking care of your car with services like oil changes and repairs.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'images\Financing & Leasing.jpeg' %}" class="card-img-top thumbnail" alt="SEO Optimization">
            <div class="card-body">
              <h5 class="card-title">Financing & Leasing</h5>
              <p class="card-text">Helping you find loan or lease options to make buying a car easier.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
